@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="range"]::-webkit-slider-thumb {
        width: 60px;
        -webkit-appearance: none;
        appearance: none;
        height: 7px;
        cursor: ew-resize;
        background: #ffffff;
        box-shadow: -405px 0 0 400px #605e5c;
        border-radius: 4px;
    }
}