// Montserrat
@font-face {
    font-family: 'Montserrat';
    src: url('/template/fonts/Montserrat/subset-Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/template/fonts/Montserrat/subset-Montserrat-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/template/fonts/Montserrat/subset-Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/template/fonts/Montserrat/subset-Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

// RedHat
@font-face {
    font-family: "RedHat";
    src: url("/template/fonts/RedHat/RedHatText-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "RedHat";
    src: url("/template/fonts/RedHat/RedHatText-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "RedHat";
    src: url("/template/fonts/RedHat/RedHatText-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "RedHat";
    src: url("/template/fonts/RedHat/RedHatText-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}