.swiper-3d .swiper-slide-shadow {
    background: rgba(33, 37, 41, 0.4) !important;
    padding: 11.8rem 0;
    filter: blur(4px);
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    overflow: hidden;
}

.swiper-3d .swiper-slide-shadow {
    border-radius: 2rem !important;
}