@import 'tailwindcss';

@theme {
    --color-primary: #4f46e5;
}

html {
    @apply scroll-smooth bg-gray-100 text-black m-0 p-0;
}

.router-link-exact-active {
    color: #000aff;
    text-decoration: underline;
}